#features {
  & .cards {
    grid-template-columns: 17.5rem 1fr 1fr 17.5rem; /*coluna fixa | coluna fluida | coluna fluida | coluna fixa*/
    grid-template-rows: 25rem 25rem; 
    gap: 2rem;
  }

  & .card:nth-child(1) {
    grid-column: 1/2; /*começa na coluna 2 e termina na coluna 4*/
  }

  & .card:nth-child(2) {
    grid-column: 2/4; /*começa na coluna 2 e termina na coluna 4*/
  }
}